# python
__pycache__
venv/
.venv/

# go
tmp/
flush-log
flush-log.exe
*.exe
apiurl

# drawio
.$*

# web static artifacts
wasm_exec.js
app-worker.js
app.js
app.css
*.html
*.webmanifest
app.wasm
style.css
